name: Auto Release Draft

on:
  push:
    branches: [main]
  pull_request:
    types: [closed]

permissions:
  contents: write
  pull-requests: read

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Update Release Draft
        uses: release-drafter/release-drafter@v5
        with:
          publish: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
